[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"psycopg2-binary" = "*"
toposort = "*"
dnspython = "*"
"geoip2" = "*"
requests = "*"
adblockparser = "*"
tldextract = "*"
pychrome = "*"
cryptography = "*"

[requires]
python_version = "3.6"
